@font-face {
    font-family: josefinSans;
    src: url("/static/josefinSansFont/JosefinSansRegular-x3LYV.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: josefinSansLight;
    src: url("/static/josefinSansFont/JosefinSansLight-ZVEll.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    display:flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
h1{
    font-family: josefinSans;
    font-weight:500;
}
h2,h3,h5,p{
    font-family: josefinSans;
    font-weight:200;
    margin: 0;
    align-self: center;
}
table{
    border-collapse:collapse
}
th,td { 
    font-family: josefinSansLight;
    padding: 10px;
    border:none;
    text-align: center;
}
tr{
    background: rgb(227, 227, 227);
    border-radius: 10%;
    padding: 5px;
    margin: 10px;
    border:none
}
.btn {
    cursor: pointer;
    padding: 10px 24px;
    transition-duration: 0.4s;
}
.btn a{
    text-decoration: none;
    color: white;
}
.btn.btn1{
    font-family: josefinSans;
    text-align: center;
    font-weight: 300;
    text-decoration: none;
    color: white;
    background-color: #422ace; 
    border: 3px solid #422ace;
}
.btn.btn2{
    font-family: josefinSans;
    text-align: center;
    font-weight: 300;
    text-decoration: none;
    color: white;
    background-color: #422ace; 
    border: 3px solid #422ace;
}
.btn.btn1:hover {
    background-color: white;
    color: #5121c2;
}
.btn.btn2:hover {
    background-color: white;
    color: #422ace;
}
#titleCover {
    position: fixed;
    cursor: pointer;
    background: rgb(255, 255, 255);
    transition: 500ms;
    transform: translateY(-50%, -50%);
    height: 100vh;
    width: 100vw;
    top:0;
    left: 0;
    z-index: 3;
    color: #323232;
    font-size: 72px;
    font-family: josefinSans;
    text-align: center;
    line-height: 100vh;
}
#titleCover.active {
    position: fixed;
    cursor: pointer;
    background: white;
    transition: 500ms;
    transform: scale(0);
    height: 0vh;
    width: 100vw;
}
#openWindow.active #text {
    transform: translate(-150%,-50%) scale(0);
    transition: all 0.5s;
}
.content{
    margin: auto;
    z-index: 0;
}
#openWindow #overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: none;
}
#openWindow #text {
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    position: absolute;
    padding: 75px 15px;
    border-radius: 20px;
    filter: drop-shadow(0 0 8px rgb(76, 76, 76));
    z-index: 2;

}
#openWindow .close {
    cursor: pointer; 
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: 600;
    font-size: 20px;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    background: darkgray;
    color: #ffffff;
    border-radius: 10px;
}
#openWindow.active #overlay {
    display: block;
}
#openWindow.active #text {
    transform: translate(-50%,-50%) scale(1);
    transition: all 0.5s;
}
#actionBtn{
    background-color: #422ace;
    color: white;
    padding: 8px;
    font-size: 12px;
    border: none;
    border-radius: 50%;
}
#actions{
    cursor: pointer;
    padding: 8px 8px;
    transition-duration: 0.4s;
}
#actionsMenu {
    display: none;
    position: absolute;
    background-color: #e2e2e2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

#actionsMenu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: josefinSans;
}
#actionsMenu a:hover {
    background-color: #bbbbbb;
}

#actions:hover #actionsMenu {
    display: block;

}
#actions:hover #actionBtn {
    background-color: #3e3e8e;
}