<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/timecrunch.png') }}">
    <title>TimeCrunch</title>
</head>
<body >
    <div id="titleCover" onclick="toggleTitle()">
        <span>TimeCrunch</span>
    </div>
    <div class="content">
        <h1>TimeCrunch</h1>
        {% if tasks|length < 1 %}
        <h5> There are no tasks to complete. Create one below!</h5>
        {% else %}
        <table>
            <tr>
                <th><h3>To-Do</h3></th>
                <th>Due</th>
                <th></th>
            </tr>
            {% for task in tasks %}
                {% if task.completed == 0 %} <!-- incomplete task -->
                <tr>
                    <td><strong>{{ task.content }}</strong></td>
                    
                    <td>{{ task.dueDate }}</td>
                    <td>
                        <div id="actions">
                            <button id="actionBtn">•••</button>
                            <div id="actionsMenu">
                                <h5>Added on {{ task.dateCreated.date() }}</h5>
                                <a href="/complete/{{task.id}}" class="changeTodo">Complete</a>
                                <a href="/update/{{task.id}}" class="changeTodo">Update</a>
                                <a href="/delete/{{task.id}}" class="deleteTodo"><strong>Delete</strong></a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
        {% endif %}
        <div id="buttonDiv">
            <button class="btn btn1" onclick="toggleWindow()"><h4>Add New Task</h4></button>
            <a href="/restore"><button class="btn btn2"><h4>Completed Tasks</h4></button></a>
        </div>
    </div>
    <div class=window id="openWindow">
        <div id="overlay">
            <div id="text">
                <div class="close" onclick="toggleWindow()">&times;</div>
                <h1>Add New Task!</h1>
                <br>
                <p>Add something to-do and a due date if you're in a Time Crunch!</p>
                <br>
                <form action="/" method="POST" id="addForm">
                    <input type="text" name="content" id="content" class="textbox" placeholder="Enter your TimeCrunch!">
                    <input type="datetime-local" id="dueDate" name="dueDate" class="textbox" placeholder="Enter a Due Date">
                    <input type="submit" value="+" id="actionBtn">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    function toggleWindow(){
        document.getElementById("openWindow").classList.toggle("active");
    }
</script>
<script>
    if (!sessionStorage.getItem('scriptHasRun')) {
    console.log("run");
        function toggleTitle(){
            document.getElementById("titleCover").classList.toggle("active")
        }
    sessionStorage.setItem('scriptHasRun', true);
} else {
    document.getElementById("titleCover").style.visibility="hidden";
    console.log("ran");
}
    
</script>