<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/timecrunch.png') }}">
    <title>TimeCrunch</title>
</head>
<body >
    <div id="titleCover" onclick="toggleTitle()">
        <span>TimeCrunch</span>
    </div>
    <div class="content">
        <h1>TimeCrunch</h1>
        {% if tasks|length < 1 %}
        <h5> There are no tasks to complete. Create one below!</h5>
        {% else %}
        <table>
            <tr>
                <th><h3>To-Do</h3></th>
                <th>Added</th>
                <th>Due</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
                {% if task.completed == 0 %} <!-- incomplete task -->
                <tr>
                    <td><strong>{{ task.content }}</strong></td>
                    <td>{{ task.dateCreated.date() }}</td>
                    <td>{{ task.dueDate }}</td>
                    <td>
                        <a href="/complete/{{task.id}}">Complete</a>
                        <br>
                        <a href="/delete/{{task.id}}">Delete</a>
                        <br>
                        <a href="/update/{{task.id}}">Update</a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
        {% endif %}
        <button class="btn btn1" onclick="toggleWindow()"><h4>Add New Task</h4></button>
        <button class="btn btn2"><a href="/restore"><h4>Completed Tasks</h4></a></button>
    </div>
    <div class=window id="openWindow">
        <div id="overlay">
            <div id="text">
                <div class="close" onclick="toggleWindow()">&times;</div>
                <h1>Add New Task!</h1>
                <br>
                <p>Add something to-do and a due date if you're in a Time Crunch!</p>
                <br>
                <form action="/" method="POST">
                    <input type="text" name="content" id="content">
                    <input type="datetime-local" id="dueDate" name="dueDate">
                    <input type="submit" value="Add Task">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    function toggleWindow(){
        document.getElementById("openWindow").classList.toggle("active");
    }
</script>
<script>
    if (!sessionStorage.getItem('scriptHasRun')) {
    console.log("run");
        function toggleTitle(){
            document.getElementById("titleCover").classList.toggle("active")
        }
    sessionStorage.setItem('scriptHasRun', true);
} else {
    document.getElementById("titleCover").style.visibility="hidden";
    console.log("ran");
}
    
</script>